name: Tests

on:
  push:
    paths-ignore:
      - 'LICENSE.*'
      - 'README.*'
      - '.github/ISSUE-TEMPLATE/**'
  pull_request:
    paths-ignore:
      - 'LICENSE.*'
      - 'README.*'
      - '.github/ISSUE-TEMPLATE/**'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        nim-version:
          - '1.6.0'
          - '1.6.x'
          - 'stable'
    steps:
      - uses: actions/checkout@v3
      - uses: jiro4989/setup-nim-action@v1
        name: Set up Nim
        with:
          nim-version: ${{ matrix.nim-version }}
      - name: Run tests on POSIX
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          nim --version
          nimble install -Y
          nimble test -Y
      - name: Run tests on Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          $env:HOME = $env:USERPROFILE
          echo "Set HOME to $HOME"
          nim --version
          nimble install -Y
          nimble test -Y
